# Preliminaries

In [1]:
import pandas as pd
%matplotlib inline

First we import the file 'imdb.csv'.

> **Note:** The names of the movies end with the unicode character \\xa0, which we would like to remove. To do that you should use the argument _encoding='utf-8-sig'_ and replace it with an empty string (explained [here][1]).

[1]: https://stackoverflow.com/questions/10993612/python-removing-xa0-from-string "reindex"

In [57]:
imdb = pd.read_csv('imdb5000.csv', 
                   index_col='movie_title', 
                   encoding='utf-8-sig')
imdb.set_index(imdb.index.str.replace('\xa0', ''), 
               inplace=True)
print("The shape of the raw data is:", imdb.shape)
imdb.head()

The shape of the raw data is: (5043, 27)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [58]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5043 entries, Avatar to My Date with Drew
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  num_voted_users            5043 non-null   int64
 12  cast_total_facebook_likes  5043 non-null   int64
 13  actor_3_name               5020 non-null   object
 14  facenumber_in_poster       5030 non-null   float64
 15  plot_keywords              4890 non-null   object
 16  movie_imdb_link            5043 non-null   object
 17  num_user_for_reviews       5022 non-null   float64
 18  language                   5031 non-null   object
 19  country                    5038 non-null   object
 20  content_rating             4740 non-null   object
 21  budget                     4551 non-null   float64
 22  title_year                 4935 non-null   float64
 23  actor_2_facebook_likes     5030 non-null   float64
 24  imdb_score                 5043 non-null   float64
 25  aspect_ratio               4714 non-null   float64
 26  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(11)
memory usage: 1.1+ MB

# Data inspection

Make yourself familiar with the data by answering questions like what do the columns mean, what are their types and what are their values and distribution.

> **Note:** This part has no strict flow, and it just encourages you to have a thorough look on the data before moving on.

In [59]:
imdb.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [60]:
imdb.shape

(5043, 27)

In [61]:
imdb.isnull().sum(), imdb.isnull().sum(axis=1)

(color                         19
 director_name                104
 num_critic_for_reviews        50
 duration                      15
 director_facebook_likes      104
 actor_3_facebook_likes        23
 actor_2_name                  13
 actor_1_facebook_likes         7
 gross                        884
 genres                         0
 actor_1_name                   7
 num_voted_users                0
 cast_total_facebook_likes      0
 actor_3_name                  23
 facenumber_in_poster          13
 plot_keywords                153
 movie_imdb_link                0
 num_user_for_reviews          21
 language                      12
 country                        5
 content_rating               303
 budget                       492
 title_year                   108
 actor_2_facebook_likes        13
 imdb_score                     0
 aspect_ratio                 329
 movie_facebook_likes           0
 dtype: int64,
 movie_title
 Avatar                                                     0
 Pirates of the Caribbean: At World's End                   0
 Spectre                                                    0
 The Dark Knight Rises                                      0
 Star Wars: Episode VII - The Force Awakens                14
                                                           ..
 Signed Sealed Delivered                                    4
 The Following                                              5
 A Plague So Pleasant                                       4
 Shanghai Calling                                           2
 My Date with Drew                                          0
 Length: 5043, dtype: int64)

# Data cleaning

Based on our preliminary inspection we decide to drop movies with more than 4 `NaN`'s.

In [62]:
imdb = imdb[imdb.isnull().sum(axis=1) < 4]
imdb.shape

(4846, 27)

We decude that some columns are not important for our analysis, and we remove all the columns, whose name contains the word 'facebook' or 'num'.

In [63]:
imdb.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
John Carter,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000

In [79]:
imdb.loc[:,~((imdb.columns.str.contains('facebook')) | (imdb.columns.str.contains('num')))].shape

(4846, 17)

> **Note:** The `r` prefix is Python's way of using raw strings as regular expressions. More about it can be found [here](https://docs.python.org/3.7/library/re.html).

Remove duplicates in the data. Be carefull with what you consider a duplicate. 
idea: a director can have only one movie in a single year

In [87]:
imdb.groupby(['director_name', 'title_year']).size().value_counts()

1    4462
2     180
3       8
dtype: int64

In [90]:
imdb.shape

(4846, 27)

In [89]:
imdb.drop_duplicates(['director_name','title_year']).shape

(4650, 27)

# Warm-up questions

How many languages are represented?

In [95]:
imdb.language.nunique()

42

In [93]:
len(imdb.language.value_counts())

42

What is the oldest movie?

In [102]:
imdb.title_year.min(),imdb.title_year.idxmin()

(1916.0, "Intolerance: Love's Struggle Throughout the Ages")

Who is the director with the highest average imdb score?

How many unique actors are represented? Consider all three columns.

To avoid analyses based on esoteric movies we decide to drop all the movies made by directors, for whom that movie is the only movie in the data. In other words we wish to remove all the directors who appear only once in the data. Then we repeat the question above.

Finally, we wish to add a column called `profits` with the calculation of $gross - budget$ and answer:
* What is the most profitable movie and what is the biggest failure?
* Who is the most profitable director?

# Visualizations

What was the median budget spent on a production every year? Why is the median more informative than the average?

How many movies were released every year? Repeat the last question, but this time separate the graph into two plots - one for color movies and one for B/W movies.

How many movies are there of each genre?

> **Note:** A movie can be of multiple genres, so the count of genres is higher the count of movies.

# The `directors` dataset

We wish to create a datasets about the directors, including the following columns:
* Median duration
* Movie count
* Movies per year
* Average profit
* Main language
* Main genre

# More questions

Which actor participated in the highest number of movies? Consider all three columns.

Which pairs of director and actor like to work together? Sort the number of co-occurrences of such pairs.