# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [7]:
s1 = np.random.randint(1,5,100)
s2 = np.random.randint(1,4,100)
s3 = np.random.randint(10000,300001,100)
t

(array([4, 1, 4, 1, 4, 1, 2, 4, 4, 2, 2, 3, 3, 1, 4, 1, 1, 1, 2, 4, 3, 1,
        3, 3, 1, 2, 2, 3, 1, 1, 3, 3, 4, 3, 4, 4, 3, 2, 4, 2, 1, 2, 3, 4,
        1, 4, 1, 3, 1, 4, 1, 2, 2, 2, 2, 3, 1, 3, 4, 4, 1, 2, 4, 2, 4, 2,
        4, 4, 3, 4, 4, 4, 4, 4, 2, 4, 4, 2, 2, 3, 4, 2, 3, 3, 4, 2, 3, 3,
        4, 1, 2, 2, 3, 4, 2, 2, 2, 4, 3, 2]),
 array([2, 3, 1, 3, 2, 1, 1, 3, 1, 2, 2, 2, 2, 3, 3, 3, 1, 3, 1, 2, 1, 3,
        3, 3, 1, 3, 3, 3, 1, 3, 2, 3, 2, 2, 3, 2, 3, 2, 3, 1, 2, 2, 3, 3,
        2, 2, 2, 1, 1, 2, 1, 3, 2, 1, 2, 3, 2, 2, 2, 1, 3, 1, 3, 2, 3, 1,
        3, 1, 2, 1, 3, 3, 1, 2, 2, 3, 2, 3, 2, 3, 1, 3, 1, 3, 2, 3, 3, 2,
        1, 2, 3, 1, 3, 2, 1, 1, 2, 3, 1, 3]),
 array([171671, 176063,  12557,  43478, 269461, 180086,  73350,  90982,
         28446,  24268, 255945, 191499, 152123,  73544, 156230,  68253,
         34114, 257190, 145403, 172578,  14439,  52883,  48738,  45740,
         91554,  12981, 175130, 213786, 260176, 172928, 232231,  69742,
        137102, 290336, 224181, 272963,  80685, 154936, 161857, 127006,
        125593, 199117, 238135, 293838, 177165, 249592, 290855,  25888,
        264084, 103329, 137865, 133887, 196392, 103540,  48240, 139440,
        239116, 171980, 102114, 108407, 103455,  58677, 151251, 181177,
        222702, 251384, 212723, 194244, 266772, 146782, 123419, 182506,
        150161, 272595, 132000, 281264,  33583, 214846, 271839,  22388,
        266477, 139400, 203974, 103448, 292200, 196034,  19080, 123091,
        189421,  41024, 199683, 127048, 156924,  51907, 284295, 188845,
        293174,  16326, 221579, 248850]))

### Step 3. Let's create a DataFrame by joinning the Series by column

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

### Step 6. Oops, it seems it is going only until index 99. Is it true?

### Step 7. Reindex the DataFrame so it goes from 0 to 299