# Exercise #3: Array calculations and operations

### Aim: Use NumPy arrays in mathematical calculations

In this exercise we refers to a useful guide that can help you solve any questions in NumPy. This guide also summarize all that is needed to know about NumPy.

### Issue covered:



*   Mathematical operations with arrays.
*   Mathematical operations mixing scalars and arrays.
*   Comparisons operators and Boolean operations on arrays.
*   Using the "where" method.
*   Mathematical operations on vectors.
*   Find coefficients and roots of polynomial.



First, import NumPy as np:

In [ ]:
import numpy as np



### 1.  Let’s perform some array calculations.


> (a) Create a 2-D array of shape (2, 4) containing two lists (range(4), range(10, 14)) and assign it to the variable "a":

In [ ]:
# Your Code Here#
a = []

Print(a)

> (b) Create a 1-D array with the vailues [2, -1, 1, 0] and assign it to the variable "b" :

In [ ]:
# Your Code Here#
b = []

Print(b)


> (c) Multiply array "a" by "b" and view the results:

In [ ]:
# Your Code Here#

Do you understand how NumPy has used its broadcasting feature to do the calculation even though the arrays are different shapes?



> (d) Multiply array "b" by 100 and assign the result to the variable "b1":

In [ ]:
# Your Code Here#
b1 =[]

print(b1)



> (e) Multiply array "b" by 100.0 and assign the result to the variable "b2":

In [ ]:
# Your Code Here#
b2 =[]

print(b2)



>(f) Print b1 == b2:

In [ ]:
# Your Code Here#

Are they the same?



>(g) Why do they display differently? Interrogate the typecode of each array to find out why:

In [ ]:
# Your Code Here#

###2. Let's perform some operations on array.



> (a) Continue to use arrays "a" defined above:



> (b) Print the sum, mean and the product of "a" in two different ways:

In [ ]:
# Your Code Here#



>(c) Print the variance and the standard deviation of "a"in two different ways:

In [ ]:
# Your Code Here#

###3. Let’s look at array comparisons.



>(a)  Create an array of values 0 to 9 and assign it to the variable "arr":

In [ ]:
# Your Code Here#
arr = []

print(arr)



>(b)  Print two different ways of expressing the condition where the array is less than 3:

In [ ]:
# Your Code Here#



>(c)  Create a numpy condition where "arr" is less than 3 OR greater than 8:

In [ ]:
# Your Code Here#



>(d)  Use the  *where*  function to create a new array where the value is arr * 5 if the above condition is True and arr * -5 where the condition is False:

In [ ]:
# Your Code Here#

###4. Let’s look at item selection and manipulation.



>(a)  Continue to use arrays "a" defined above:



>(b)  Print an array contains all the values from "a" that are greater than 1:

In [ ]:
# Your Code Here#



>(c)  Print an array contains all the values from "a" that are greater than 3 and smaller than 11:

In [ ]:
# Your Code Here#



>(d)  Create an array from the list range(6) and assign it to the variable "b":

In [ ]:
# Your Code Here#



>(e)  Use the  *put*  function to replace the first element of "b" with 6:

In [ ]:
# Your Code Here#



>(f)  Create an array from the list range(5) and assign it to the variable "c":

In [ ]:
# Your Code Here#



>(g)   Use the  *put*  function to replace the first element of "b" with the last element of "c":

In [ ]:
# Your Code Here#