In [1]:
import pandas as pd
import numpy as np

In [28]:
df = pd.read_csv('../data/to_run.csv')

In [15]:
df.head()

   Unnamed: 0  time_interval  appear  shift
0           0       1.000000   False    NaN
1           1      21.387755   False  False
2           2      41.775510   False  False
3           3      62.163265   False  False
4           4      82.551020   False  False

In [30]:
res = []
for i,v in enumerate(df.appear.tolist()):
    if i == 0:
        res.append(1)
        continue
    if v == True:
        res.append(0)
        continue
    res.append(res[i-1]+1)
    
df['run_length'] = res

In [31]:
df

    Unnamed: 0  time_interval  appear  run_length
0            0       1.000000   False           1
1            1      21.387755   False           2
2            2      41.775510   False           3
3            3      62.163265   False           4
4            4      82.551020   False           5
5            5     102.938776   False           6
6            6     123.326531   False           7
7            7     143.714286   False           8
8            8     164.102041   False           9
9            9     184.489796   False          10
10          10     204.877551   False          11
11          11     225.265306   False          12
12          12     245.653061   False          13
13          13     266.040816   False          14
14          14     286.428571   False          15
15          15     306.816327   False          16
16          16     327.204082   False          17
17          17     347.591837   False          18
18          18     367.979592   False          19
19          19     388.367347   False          20
20          20     408.755102   False          21
21          21     429.142857   False          22
22          22     449.530612   False          23
23          23     469.918367    True           0
24          24     490.306122   False           1
25          25     510.693878   False           2
26          26     531.081633   False           3
27          27     551.469388   False           4
28          28     571.857143   False           5
29          29     592.244898   False           6
30          30     612.632653   False           7
31          31     633.020408   False           8
32          32     653.408163   False           9
33          33     673.795918   False          10
34          34     694.183673   False          11
35          35     714.571429   False          12
36          36     734.959184   False          13
37          37     755.346939   False          14
38          38     775.734694   False          15
39          39     796.122449   False          16
40          40     816.510204   False          17
41          41     836.897959   False          18
42          42     857.285714   False          19
43          43     877.673469   False          20
44          44     898.061224   False          21
45          45     918.448980   False          22
46          46     938.836735   False          23
47          47     959.224490   False          24
48          48     979.612245    True           0
49          49    1000.000000   False           1